# 1

In [ ]:
*        =====  expression 

'hello'  ===== value

-87.8    ===== value

-        =====  expression 

/        =====  expression 

+        =====  expression 

6        ===== value

# 2

In [ ]:
the difference between string and variable is that :
    
    variable is to store a  value but string itself is a  value.
    we can store a string inside a variable

# 3

In [ ]:
three different data types are  

-   [integer,boolean,string]

integer = any number without decimal

boolean = true or false value

string  = sequence of character which is enclosed in ' ' or " " or ''' '''

# 4

In [ ]:
An expression is a combination of values, variables, operators.

Expressions need to be evaluated.

expression usually holds the data.

# 5

In [ ]:
spam = 10

it is a statement that assigns spam to the value of the expression 10.

An expression evaluates to a value.

A statement does something. whichis a action .which is executed by python.

# 6

In [6]:
bacon = 22
bacon + 1


----bacon will contain 22

22

# 7

In [ ]:
'spam' + 'spamspam'

the value will be===

'spamspamspam'

In [ ]:
'spam' * 3

the value will be===


'spamspamspam'

# 8

In [ ]:
variable name cannot start with a digit.

it should start with an alphabet

# 9

In [ ]:
the three functions that can be used to get the integer, floating-point number, or string version of a value are:
    
    int()
    float()
    str()

# 10
'

In [ ]:
'I have eaten ' + 99 + ' burritos.'

here we are trying to concatinate a string with a number so it is showing error.

we can fix it by type casting the number into a string

'I have eaten ' + str(99) + ' burritos.'