### 1. Create a function that takes a list and string. The function should remove

the letters in the string from the list, and return the list.

Examples

remove_letters([&quot;s&quot;, &quot;t&quot;, &quot;r&quot;, &quot;i&quot;, &quot;n&quot;, &quot;g&quot;, &quot;w&quot;], &quot;string&quot;) ➞ [&quot;w&quot;]

remove_letters([&quot;b&quot;, &quot;b&quot;, &quot;l&quot;, &quot;l&quot;, &quot;g&quot;, &quot;n&quot;, &quot;o&quot;, &quot;a&quot;, &quot;w&quot;], &quot;balloon&quot;) ➞ [&quot;b&quot;, &quot;g&quot;,
&quot;w&quot;]

remove_letters([&quot;d&quot;, &quot;b&quot;, &quot;t&quot;, &quot;e&quot;, &quot;a&quot;, &quot;i&quot;], &quot;edabit&quot;) ➞ []

In [ ]:
def remove_letters(a,b):
    c=[]
    for i in a:
        if i not in b:
            c.append(i)
    print(c)
    
remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon")

In [ ]:
2. A block sequence in three dimensions. We can write a formula for this one:

Create a function that takes a number (step) as an argument and returns the
amount of blocks in that step.
Examples
blocks(1) ➞ 5
blocks(5) ➞ 39
blocks(2) ➞ 12

In [ ]:
def booboo(n):
    if n == 1:
        return 1 
    else:
        return n + booboo(n - 1)


def blocks(step) :
    if step == 0:
        return 0 
    else: 
        return booboo(step) + step * 3 + step * 2 - 1


blocks(2)

### 3. Create a function that subtracts one positive integer from another, without

using any arithmetic operators such as -, %, /, +, etc.

Examples

my_sub(5, 9) ➞ 4

my_sub(10, 30) ➞ 20

my_sub(0, 0) ➞ 0

In [8]:

def my_sub(a, b):
    x=max(a,b)
    y=min(a,b)
    if (y == 0):
        return x
    return my_sub(x ^ y, (~x & y) << 1)
print(my_sub(10,30) )

20

### 4. Create a function that takes a string containing money in dollars and

pounds sterling (seperated by comma) and returns the sum of dollar bills only,

as an integer.

For the input string:
    
- Each amount is prefixed by the currency symbol: $ for dollars and £ for
    
pounds.

- Thousands are represented by the suffix k.

i.e. $4k = $4,000 and £40k = £40,000

Examples

add_bill(&quot;d20,p40,p60,d50&quot;) ➞ 20 + 50 = 70

add_bill(&quot;p30,d20,p60,d150,p360&quot;) ➞ 20 + 150 = 170

add_bill(&quot;p30,d2k,p60,d200,p360&quot;) ➞ 2 * 1000 + 200 = 2200

In [16]:
def add_bill(a):
    b=a.split(",")
    c=[]
    d=[]
    e=0
    for i in b:
        if "d" in i:
            c.append(i.replace("d",""))
    for i in c:
        d.append(i.replace("k","000"))
        
    for i in d:
        e+=int(i)
    print(c,d,e)
    
add_bill("d20,p40,p60,d50")

['20', '50'] ['20', '50'] 70

### 5. Create a function that flips a horizontal list into a vertical list, and a vertical

list into a horizontal list.

In other words, take an 1 x n list (1 row + n columns) and flip it into a n x 1 list

(n rows and 1 column), and vice versa.

Examples

flip_list([1, 2, 3, 4]) ➞ [[1], [2], [3], [4]]

#Take a horizontal list and flip it vertical.

flip_list([[5], [6], [9]]) ➞ [5, 6, 9]

#Take a vertical list and flip it horizontal.

flip_list([]) ➞ []

In [18]:
def flip_list(lst):
    if not lst:
        return lst

    is_vertical = isinstance(lst[0], list)
    
    if is_vertical:
        return [el[0] for el in lst]
    
    return [[el] for el in lst]

print(flip_list([[5], [6], [9]]))

[5, 6, 9]